$backgroundColor: #FBFEF4;
$primaryColor: #37AB00;
$secondaryColor: #FFF;
$blackTransparent30: #0000004D;
$blackTransparent20: #00000033;
$blackTransparent03: #00000008;
$blackTransparent70: #000000b3; 